.logo{
    display: flex;
    justify-content: space-between
}


.w-100{
    max-width: 100%;
}


.flex{
    display: flex;
}

.nav-bar{
    display: flex;
    justify-content: center;
}

.ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
} 

a{
    text-decoration: none !important; 
    color: inherit !important;
} 

.login{
    margin-right: 5%;
    margin-top: 5%;

}

